
.notice-main{
  width: 1080px;
  height: 1000px;
  background-color: white;
  margin: 0 auto;
}

#notice-top-title {
  margin: 50px 0px 20px 180px; /* 상 우 하 좌 */
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 30px;
  font-weight: 600;
}

#line {
  width: 800px;
  height: 4px;
  background-color: #9B805D;
  margin: 0 auto;
}

.notice{
  width: 800px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

/* 제목, 작성자, 작성일 컨테이너 */
.notice-container {
  display: flex;
  width: 100%;
  height: 20px;
  padding: 20px 0px;
  border-bottom: 2px solid #9B805D;
  display: flex;
}

/* 제목 */
.notice-container-title {
  -webkit-box-flex: 1;
  flex-grow: 1;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}

/* 작성자, 작성일 */
.notice-container-audate {
  flex-basis: 150px;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}


/* 게시글 목록 ul태그 */
.notice-ul-all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}

/* 게시글 목록 ul>li 태그 내부 스타일 */
.notice-ul-main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F5EAD9;

}

/* 제목 */
.notice-title {
  text-align: left;
  margin-left: 15px;
  width: 500px;
}

/* 글쓴이 */
.notice-author {
  text-align: center;
  padding: 20px 0px;
  flex-basis: 150px;
}

/* 작성날짜 */
.notice-date {
  text-align: center;
  padding: 20px 0px;
  flex-basis: 150px;
}

/* 검색창 */
.bottom-search{
  display: flex;
  justify-content: left;
  width: 400px;
  margin-top: 25px;
  margin-left: 141px;
}

input[type="submit"] {
  background-color: #F5EAD9; 
  border: none;
  border-radius: 5px; 
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 설정 */
  height: 26px;
  width: 50px;
}

input[type="submit"]:hover{
  background-color: #9B805D; 
  color: white; 
}

/* 페이지네이션 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 20px 0;
}

button {
  background-color: #F5EAD9;
  color: black;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9B805D;
  color:white;
}

button.prev, button.next {
  font-weight: bold;
}





