* {
  margin: 0;
  padding: 0;
}

main{
  background-color: white;
  width: 1080px;
  height: 1000px;
  margin: auto;
}

/* 마이페이지 목록 */
.member-profile-navbox{
  margin: 0 auto;
  /* border: 1px solid black; */
  border-bottom: 2px solid #9B805D;
  border-top: 2px solid #9B805D;
  width: 1080px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-profile-nav-ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  position: relative;
  z-index: 0;
}

.member-profile-nav-ul a{
  display: flex;
  text-decoration: none;
  list-style: none;
  color: black;
}

#choice {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #9B805D;
  transform: translate(-30px, 15px);
  position: relative;
  z-index: -1;
}

.member-profile-nav-ul li{
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
}


.member-posts-title {
  margin-top: 50px;
  width: 1080px;
  height: 80px;
  display: flex;
  justify-content: flex-start; /* 오른쪽 정렬 */
  align-items: center; /* 세로 중앙 정렬 (필요시) */
  margin-left: 120px;
  font-size: 18px;
}

.member-posts-title h2{
  font-weight: 400;
}

#line {
  width: 850px;
  height: 4px;
  background-color: #9B805D;
  margin: 0 auto;
}

/* 게시글 리스트 영역 */
.member-profile-cumuboard-container{
  margin: 0 auto;
  width: 850px;
  height: 500px;
  /* border: 1px solid black; */
}

/* 게시글 제목 */
.member-profile-cumuboard-titlebox{
  display: flex;
  text-align: center;
  list-style: none;
  border-bottom: 2px solid #F5EAD9;
}

.member-profile-cumuboard-titlebox li:nth-child(1){
  width: 10%;
  margin: 20px;
}
.member-profile-cumuboard-titlebox li:nth-child(2){
  width: 60%;
  margin: 20px;
}
.member-profile-cumuboard-titlebox li:nth-child(3){
  width: 15%;
  margin: 20px;
}
.member-profile-cumuboard-titlebox li:nth-child(4){
  width: 15%;
  margin: 20px;
}

/* 게시글 목록 */
.member-profile-cumuboard-contentsbox{
  width: 850px;
  height: 650px;
  /* border: 1px solid blue; */
}

.member-profile-cumuboard-content{
  list-style: none;
}

.member-profile-cumuboard-contentbox{
  display: flex;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid #F5EAD9;
}

.member-profile-cumuboard-contentbox li a {
  display: flex;
  text-decoration: none;
  list-style: none;
  color: black;
}

.member-profile-cumuboard-contentbox li:nth-child(1){
  width: 10%;
  margin: 10px;
}
.member-profile-cumuboard-contentbox li:nth-child(2){
  width: 45%;
  margin: 10px 40px;
  text-align: left;
}
.member-profile-cumuboard-contentbox li:nth-child(3){
  width: 15%;
  margin: 10px;
}
.member-profile-cumuboard-contentbox li:nth-child(4){
  width: 15%;
  margin: 10px;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}

button {
  background-color: #F5EAD9;
  color: black;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9B805D;
  color: white;
}

button.prev, button.next {
  font-weight: bold;
}