* {
  margin: 0;
  padding: 0;
}

main{
  background-color: white;
  width: 1080px;
  height: auto;
  margin: auto;

}

/* 마이페이지 목록 */
.member-profile-navbox{
  margin: 0 auto;
  /* border: 1px solid black; */
  border-bottom: 2px solid #9B805D;
  border-top: 2px solid #9B805D;
  width: 1080px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-profile-nav-ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  position: relative;
  z-index: 0;
}

.member-profile-nav-ul a{
  display: flex;
  text-decoration: none;
  list-style: none;
  color: black;
}

#choice {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #9B805D;
  transform: translate(-30px, 15px);
  position: relative;
  z-index: -1;
}

.member-update-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-top: 20px;
}

.member-profile-nav-ul li{
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
}

.member-profile-infobox{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
  height: auto;
  /* border: 1px solid black; */
}

.member-profile-info{
  width: 650px;
  height: auto;
  margin: 30px;
  border: 2px solid #F5EAD9;
  display: flex;  
  flex-direction: column;
  /* justify-content: center; */
  align-items: center; /* 가로 가운데 정렬 */
}


.member-profile-infoarea{
  width: 600px;
  display: flex;
  align-items: center;
  margin-left: -20px;
  /* border: 1px solid black; */
}

.member-profile-info-textarea{
  width: 300px;
  margin: 20px;
}

.member-profile-info-textarea li{
  margin: 20px 0px 20px 0px;
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.member-profile-info-textarea{
  width: 600px;
  /* border: 1px solid black; */
  margin: 30px;
}

/* 프로필 입력란 서식 */
.member-profile-inputbox {
  margin: 20px;
  align-items: center;
}

.member-profile-infobox input[type=text]{
  margin: 10px 0px 10px 0px;
  width: 250px;
  height: 30px;
  border: none;  
}

.member-profile-info-textarea input[type=radio]{
  margin: 10px 15px 10px 15px;
  height: 30px;
  
}

#contents{
  display: flex;
  align-items: center;
  border-bottom: 2px solid #9B805D ;
  font-size: 18px;
}

#labelname{
  width: 150px;
}

/* 버튼 */
.member-profile-button-small{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #F5EAD9;
  cursor: pointer;
  margin-left: 30px;
  border: none;
}


.member-profile-button{
  display: flex;
  justify-content: center;
  border: none;
}

.member-profile-button button{
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: #F5EAD9;
  margin: 20px;
  cursor: pointer;
  border: none;
}

/* 페이지선택 */
#choice {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #9B805D;
  transform: translate(-30px, 15px);
  position: relative;
  z-index: -1;
}