main{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volunrequest-main-size{
  width: 1080px;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.volunrequest-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 1080px;
  height: 60px;
  background-color: white;
  border-top: solid 2px #9B805D;
  border-bottom: solid 2px #9B805D;
}

.volunrequest-navList{
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  text-align: center;
}

.volunrequest-wirtebanner{
  background-color: #F5EAD9;
  width: 1080px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.volunrequest-write-area{
  width: 800px;
  min-height: 1450px;
  border: solid 1px #9B805D;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.volunrequest-content-box{
  width: 680px;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.volunrequest-content-title{
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.volunrequest-input-small{
  width: 400px;
  height: 25px;
}

.volunrequest-input-small2{
  width: 300px;
  height: 25px;
}

.volunrequest-agreement-box{
  border: solid 1px #9B805D;
  border-radius: 15px;
  width: 680px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p{
  font-size: 12px;
}

.volunrequest-agreement-box2{
  border: solid 1px #9B805D;
  border-radius: 15px;
  width: 680px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.volunrequest-content-title2{
  width: 650px;
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.volunrequest-input-big{
  width: 600px;
  height: 70px;
}

.volunrequest-agreement-box2{
  border: solid 1px #9B805D;
  border-radius: 15px;
  width: 680px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.volunrequest-search-button{
  width: 50px;
  height: 28px;
  background-color: #F5EAD9;
  border: none;
  border-radius: 15px;
  font-size: 10px;
  cursor: pointer;
}

.volunrequest-search-button:hover {
  background-color: #9B805D; /* 마우스를 올렸을 때 변경될 색상 */
  color: white;
}

.volunrequest-buttonbox{
  width: 680px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.volunrequest-button{
  width: 100px;
  height: 50px;
  background-color: #F5EAD9;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.volunrequest-button:hover {
  background-color: #9B805D; /* 마우스를 올렸을 때 변경될 색상 */
  color: white;
}

.Error{
  display: flex;
}

a {
  text-decoration: none;
  color: inherit; 
}
