main{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.protect-main-size{
  width: 1080px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.protect-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 1080px;
  height: 60px;
  background-color: white;
  border-top: solid 2px #9B805D;
  border-bottom: solid 2px #9B805D;
}

.protect-navList{
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  text-align: center;
}

.protect-detail-box1{
  width: 1080px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #9B805D;
}

.protect-detail-title{
  width: 745px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.protect-detail-info{
  width: 745px;
  height: 15px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.protect-detail-box2{
  width: 1080px;
  min-height: 500px;
  border-bottom: 2px solid #9B805D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.protect-detail-content{
  background-color: white;
  width: 745px;
  min-height: 450px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}

.protect-detail-basicinfo{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.protect-detail-basicinfo-title{
  font-size: 18px;
  font-weight: bold;
}

.protect-detail-box3{
  width: 745px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.protect-modify-button{
  width: 100px;
  height: 50px;
  background-color: #F5EAD9;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.protect-modify-button:hover {
  background-color: #9B805D; /* 마우스를 올렸을 때 변경될 색상 */
  color: white;
}

.protect-delete-button{
  width: 100px;
  height: 50px;
  background-color: #F5EAD9;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.protect-delete-button:hover {
  background-color: #9B805D; /* 마우스를 올렸을 때 변경될 색상 */
  color: white;
}

.protect-end-button{
  width: 100px;
  height: 50px;
  background-color: #F5EAD9;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.protect-end-button:hover {
  background-color: #9B805D; /* 마우스를 올렸을 때 변경될 색상 */
  color: white;
}

.protect-detail-box4{
  width: 745px;
  height: auto;
}

.protect-detail-commentNum{
  width: 745px;
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.protect-detail-commentbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 745px;
  min-height: 95px;
}

.protect-detail-name{
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.protect-detail-comment{
  font-size: 14px;
}

.protect-detail-date{
  font-size: 12px;
}

.protect-detail-commentregi{
  width: 620px;
  height: 50px;
}

.protect-commentregi-button{
  width: 100px;
  height: 50px;
  background-color: #F5EAD9;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.protect-commentregi-button:hover {
  background-color: #9B805D; /* 마우스를 올렸을 때 변경될 색상 */
  color: white;
}

/* 댓글버튼 */
.protect-comment-button{
  width: 50px;
  height: 25px;
  background-color: #F5EAD9;
  border: none;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.protect-comment-button:hover {
  background-color: #9B805D; /* 마우스를 올렸을 때 변경될 색상 */
  color: white;
}

/* 댓글수정 input 박스 */
.protect-modify-comment{
  width: 300px;
  height: 30px;
}

/* 신청버튼박스 */
.protect-submit-box{
  width: 745px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.protect-submit-button{
  width: 100px;
  height: 50px;
  background-color: #F5EAD9;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.protect-submit-button:hover {
  background-color: #9B805D; /* 마우스를 올렸을 때 변경될 색상 */
  color: white;
}

a {
  text-decoration: none;
  color: inherit; 
}