main{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adoptrequest-main-size{
  width: 1080px;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.adoptrequest-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 1080px;
  height: 60px;
  background-color: white;
  border-top: solid 2px #9B805D;
  border-bottom: solid 2px #9B805D;
}

.adoptrequest-navList{
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  text-align: center;
}

.adoptrequest-wirtebanner{
  background-color: #F5EAD9;
  width: 1080px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.adoptrequest-write-area{
  width: 800px;
  height: 700px;
  border: solid 1px #9B805D;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}