
.dona-main{
  width: 1080px;
  height: 1000px;
  background-color: white;
  margin: 0 auto;
}

.dona{
  width: 800px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.center-dona-navbox {
  margin-top: 50px;
  width: 1080px;
  height: 80px;
  display: flex;
  justify-content: flex-start; /* 오른쪽 정렬 */
  align-items: center; /* 세로 중앙 정렬 (필요시) */
  margin-left: 180px;
}

.center-dona-nav-ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  position: relative;
  z-index: 0;
  font-size: 30px;
  font-weight: 600;
}

.center-dona-nav-ul a{
  display: flex;
  text-decoration: none;
  list-style: none;
  color: black;
  margin-right: 10px;
}

#line {
  width: 800px;
  height: 4px;
  background-color: #9B805D;
  margin: 0 auto;
}

ul{
  display: flex; /* 가로로 나열 */
  list-style-type: none;
  justify-content: center; /* 가운데 정렬 */
  padding: 0; /* 기본 패딩 제거 */
  margin: 0 auto; /* 중앙 정렬 */
  width: fit-content; /* 내용에 맞춰 너비 조정 */
}

.dona-header{
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #9B805D; /* 아래쪽 경계선 추가 */
  padding-bottom: 10px; /* 여백 추가 */
}

#dona-header2{
  gap: 250px;
}

/* 분류, 제목, 작성자, 작성일 컨테이너 */
.dona-container {
  display: flex;
  width: 100%;
  height: 20px;
  padding: 20px 0px;
  border-bottom: 2px solid #9B805D;
  /* border-top: 2px solid rgb(51, 51, 51); */
  display: flex;
}

/* 제목 */
.dona-container-title {
  -webkit-box-flex: 1;
  flex-grow: 1;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}

/* 작성자, 작성일 */
.dona-container-audate {
  flex-basis: 150px;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}


/* 게시글 목록 ul태그 */
.dona-ul-all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}

/* 게시글 목록 ul>li 태그 내부 스타일 */
.dona-ul-main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F5EAD9;

}

/* 제목 */
.dona-title {
  text-align: left;
  margin-left: 15px;
  width: 500px;
}

/* 글쓴이 */
.dona-author {
  text-align: center;
  padding: 20px 0px;
  flex-basis: 150px;
}

/* 작성날짜 */
.dona-date {
  text-align: center;
  padding: 20px 0px;
  flex-basis: 150px;
}

/* 검색창 */
.bottom-search{
  display: flex;
  justify-content: left;
  width: 400px;
  margin-top: 25px;
  margin-left: 141px;
}

input[type="submit"] {
  background-color: #F5EAD9; 
  border: none;
  border-radius: 5px; 
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 설정 */
  height: 26px;
  width: 50px;
}

input[type="submit"]:hover{
  background-color: #9B805D; /* 마우스를 올렸을 때 배경색 */
  color: white; /* 마우스를 올렸을 때 텍스트 색상 */
}

/* '글쓰기' 버튼 파트 컨테이너 */
.dona-admain-btuall {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-top: -60px; /* 위로 올리기 위해 음수 값 사용 */
}

/* '글쓰기' 버튼 */
.dona-admain-btu {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 80px;
  height: 40px;
  border-radius: 15px;
  color: black;
  background-color:#F5EAD9;
  border: 0px none;
  margin-right: 145px;
  margin-top: 20px;
  cursor: pointer;
}

/* '글쓰기' 폰트사이즈 */
.dona-admain-btuall span {
  font-size: 13px;
}

/* '글쓰기' 폰트 두께 */
.dona-admain-btu-sp {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.dona-admain-btu:hover {
  background-color: #9B805D; /* 마우스를 올렸을 때 배경색 */
  color: white; /* 마우스를 올렸을 때 텍스트 색상 */
}

/* 페이지네이션 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 20px 0;
}

button {
  background-color: #F5EAD9;
  color: black;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9B805D;
  color:white;
}

button.prev, button.next {
  font-weight: bold;
}







