* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

/* 마이페이지 목록 */
.center-member-profile-navbox{
  margin: 0 auto;
  /* border: 1px solid black; */
  border-bottom: 2px solid #9B805D;
  border-top: 2px solid #9B805D;
  width: 1080px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center-member-profile-nav-ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  position: relative;
  z-index: 0;
}

.center-member-profile-nav-ul li{
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

/* 게시판 제목 목록 */
.center-member-profile-navboard{
  margin: 0 auto;
  border-bottom: 5px solid #9B805D;
  width: 850px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.center-member-profile-navboard-ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  position: relative;
  z-index: 0;
}

.center-member-profile-navboard-ul li{
  margin: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 1;
}

/* 페이지선택 */
#choice {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #9B805D;
  transform: translate(-30px, 15px);
  position: relative;
  z-index: -1;
}

/* 탈퇴 영역 */
.center-withdrawal-container{
  margin: 0 auto;
  width: 800px;
  height: 600px;
  border: 1px solid #9B805D;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* 약관 */
.center-withdrawal-terms{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.center-withdrawal-terms b{
  margin: 20px;
  font-size: 20px;
}

.center-withdrawal-terms p{
  margin: 10px;
  font-size: 16px;
}

.center-withdrawal-agreeinput{
  width: 200px;
  height: 30px;
  margin: 30px 0 10px;
}


.button {
  background-color: #F5EAD9;
  color: black;
  width: 120px;
  height: 50px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 15px;
  /* cursor: not-allowed; */
}

.button.active {
  background-color: #9B805D;
  color: white;
  cursor: pointer;
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 400px;
  height: 200px;
  text-align: center;
  
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal div{
  margin-top: 50px;
}

.modal button{
  width: 90px;
  height: 40px;
  border-radius: 20px;
  background-color: #F5EAD9;
  color: black;
  margin: 50px 20px;
}

input {
  color: gray;
}