* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

/* 마이페이지 목록 */
.center-member-profile-navbox{
  margin: 0 auto;
  /* border: 1px solid black; */
  border-bottom: 2px solid #9B805D;
  border-top: 2px solid #9B805D;
  width: 1080px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center-member-profile-nav-ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  position: relative;
  z-index: 0;
}

.center-member-profile-nav-ul li{
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

/* 게시판 제목 목록 */
.center-member-profile-navboard{
  margin: 0 auto;
  border-bottom: 5px solid #9B805D;
  width: 850px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* margin-bottom: 20px; */
}

.center-member-profile-navboard-ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  position: relative;
  z-index: 0;
}

.center-member-profile-navboard-ul li{
  margin: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 1;
}

/* 페이지선택 */
#choice {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #9B805D;
  transform: translate(-30px, 15px);
  position: relative;
  z-index: -1;
}

/* 게시글 리스트 영역 */
.center-member-profile-cumuboard-container{
  margin: 0 auto;
  width: 850px;
  height: 600px;
  /* border: 1px solid black; */
}

/* 게시글 제목 */
.center-member-profile-cumuboard-titlebox{
  display: flex;
  text-align: center;
  list-style: none;
  border-bottom: 2px solid #F5EAD9;
}

.center-member-profile-cumuboard-titlebox li:nth-child(1){
  width: 70%;
  margin: 20px;
  text-align: left;
  margin-inline-start: 80px;
}
.center-member-profile-cumuboard-titlebox li:nth-child(2){
  width: 15%;
  margin: 20px;
}
.center-member-profile-cumuboard-titlebox li:nth-child(3){
  width: 15%;
  margin: 20px;
}


/* 게시글 목록 */
.center-member-profile-cumuboard-contentsbox{
  width: 850px;
  /* height: 450px; */
  /* border: 1px solid blue; */
}

.center-member-profile-cumuboard-content{
  list-style: none;
}

.center-member-profile-cumuboard-contentbox{
  display: flex;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid #F5EAD9;
}

.center-member-profile-cumuboard-contentbox li:nth-child(1){
  width: 70%;
  margin: 10px 20px;
  text-align: left;
  margin-inline-start: 80px;
}
.center-member-profile-cumuboard-contentbox li:nth-child(2){
  width: 15%;
  margin: 10px 20px;
}
.center-member-profile-cumuboard-contentbox li:nth-child(3){
  width: 15%;
  margin: 10px 20px;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}

/* 버튼 */
button {
  background-color: #F5EAD9;
  color: black;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9B805D;
  color: white;
}

button.prev, button.next {
  font-weight: bold;
}