* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* 마이페이지 목록 */
.center-member-profile-navbox {
  margin: 0 auto;
  /* border: 1px solid black; */
  border-bottom: 2px solid #9B805D;
  border-top: 2px solid #9B805D;
  width: 1080px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-member-profile-nav-ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.center-member-profile-nav-ul li {
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
}

/* 게시판 제목 */
.center-member-profile-navboard {
  margin: 0 auto;
  margin-top: 37px;
  padding-bottom: 20px;
  border-bottom: 5px solid #9B805D;
  width: 1080px;
  /* height: 100px; */
  text-align: center;
  font-size: 28px;
}

/* 봉사신청서 양식 */
.center-member-profile-volun-container {
  margin: 0 auto;
  width: 1080px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  /* height: 800px; */
}

.center-member-profile-volun-contents {
  width: 400px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 1px solid black;
  /* height: 800px;s */
  /* padding-left: 150px; */
}

.center-member-profile-volun-container form input[type="text"] {
  margin: 5px 0px;
  height: 35px;
  background-color: gainsboro;
}

.center-member-profile-volun-container form input[type="number"] {
  margin: 5px 0px;
  height: 35px;
  background-color: gainsboro;
}

.center-member-profile-volun-container form input[type="time"] {
  margin: 5px 0px;
  height: 35px;
  background-color: gainsboro;
}

.time-input {
  margin: 5px 0px;
  width: 100%;
  height: 35px;
  text-align: center;
}

.readonly {
  background-color: gainsboro; /* readonly처럼 보이게 스타일 */
  pointer-events: none; /* 클릭 불가능하게 설정 */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.center-member-profile-volun-container #religion {
  width: 55%;
}

.center-member-profile-volun-container #birth {
  width: 55%;
}

.center-member-profile-volun-container #voluntime {
  width: 75%;
}

.center-member-profile-volun-container #volunmotive {
  height: 70px;
}

/* 버튼 서식 */
.large-button-style{
  margin: 5px 0;
  background-color: #F5EAD9;
  width: 160px;
  height: 38px;
  border: 1px solid black;
  margin-right: 20px;
  font-size: 13px;
  text-align: center;
}

.mini-buttons-flex{
  display: flex;
  justify-content: center
}

.mini-buttons-flex button{
  margin-right: 5px;
}

.large-button{
  background-color: #F5EAD9;
  width: 150px;
  height: 40px;
}

.middle-button{
  background-color: #F5EAD9;
  width: 80px;
  height: 40px;
}

.mini-button{
  background-color: #F5EAD9;
  width: 40px;
  height: 40px;
}

.hope-select-area{
  margin: 5px 0;
  background-color: gainsboro;
  border: 1px solid black;
}

.hope-select-area button{
  background-color: #F5EAD9;
  width: 65px;
  height: 40px;
  margin: 5px;
}

/* 승락/거절/봉사완료 버튼 */
.choice-button-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0px 10px 0px;
}

.select-button{
  background-color: #F5EAD9;
  width: 150px;
  height: 40px;
  border-radius: 20px;
}

.choice-button-toparea{
  margin-top: 10px;
}

.choice-button-bottomarea{
  display: none;
  margin-top: 40px;
}

/* 페이지선택 */
#choice {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #9B805D;
  transform: translate(-30px, 15px);
  position: relative;
  z-index: -1;
}